#15 febuari swuidword day

In [32]:
angka = 1
if angka > 10:
    print (f"{angka} lebih besar dari 10")
    # klo selain dari isi IF dia akan mengeksekusi kodingan di luar if
    print('baris ini di dalam if')
else:    
    print('INI KONDISI KALO DI ATAS G A TEROENUHI')

INI KONDISI KALO DI ATAS G A TEROENUHI

In [9]:
angka == 5

False

In [10]:
angka == 15

True

karena di awal di buat 15 jika beda bisa false dia yah

In [21]:
angka > 10

False

ini latihannya yahh

In [35]:
bilangan = 2
if bilangan %2 == 0:
    print (f"{bilangan} ini angka genap")
else:
    print (f"{bilangan} ini angka ganjil")

2 ini angka genap

In [37]:
bilangan = 2
if bilangan %2 == 1:
    print (f"{bilangan} ini angka ganjil")
else:
    print (f"{bilangan} ini angka genap")

2 ini angka genap

In [38]:
# lebih dari 2 kondisi
aangka =11
if aangka > 10:
    print (f"{aangka} lebih besar dari 10" )
elif aangka == 10:
    print (f"{aangka} sama dengan 10" )
else:
    print (f"{aangka} lebih besar dari 10" )

11 lebih besar dari 10

In [39]:
menu = ['nasi goreng','soto', 'kwetiau','bakso']

In [40]:
'nasi goreng' in menu

True

In [41]:
'nasi kuning' in menu

False

In [42]:
# bolean di bawa kesini nih
makanan = 'mie geledek'
if makanan in menu:
    print (f"abangnya jual {makanan}")
else:
    print  (f"abangnya ga jual {makanan}")

abangnya ga jual mie geledek

lagi jalan cari buah di lihat ada beberapa tukang, saya mau mampir kalau die menjual lebih dari 3 jenis buah, kalau ada jeruknya sya beli

In [47]:
tukang_buah1 = ['jeruk','pisang']
tukang_buah2 = ['mangga','pepaya','nanas']
tukang_buah3 = ['jeruk','stoberi','mangga']

if len(tukang_buah1)>=3:
    if 'jeruk' in tukang_buah1:
        print("beli gan ada jeruknya")
    else:
        print("skip")
else:
    print("next tukang")

if len(tukang_buah2)>=3:
    if 'jeruk' in tukang_buah2:
        print("beli gan ada jeruknya")
    else:
        print("skip")
else:
    print("next tukang")

if len(tukang_buah3)>=3:
    if 'jeruk' in tukang_buah3:
        print("beli gan ada jeruknya")
    else:
        print("skip")
else:
    print("next tukang")

next tukang
skip
beli gan ada jeruknya

kalo misalnya kita mau bikin interval bagaimabna tuhh atau 2 logic yang bisa kita gabungkan kalo kepengen megabungkan logika hrus tau dulu bisa pakai "and" atau "OR"

TRUE FALSE
AND OR XOR XNOR

In [50]:
if ' jeruk' in tukang_buah1 or 'mangga' in tukang_buah1:
    print (f'mampir ke tukang_buah1')
else:
    print ('skip next')

if ' jeruk' in tukang_buah2 or 'mangga' in tukang_buah2:
    print (f'mampir ke tukang_buah2')
else:
    print ('skip next')

if ' jeruk' in tukang_buah3 or 'mangga' in tukang_buah3:
    print (f'mampir ke tukang_buah3')
else:
    print ('skip next')

skip next
mampir ke tukang_buah2
mampir ke tukang_buah3

next coba kalo kita mau memberikan nilai ke orang misal abcd
range nilai
A 80-100
B 65-80
C 40-65
D 20-40
E

In [58]:
nilai = 85

if nilai > 100:
    print ('kesalahan input')
elif nilai <= 100 and nilai >=80:
    print ('nilai A')
elif nilai < 80 and nilai >= 65:
    print ('nilai B')
elif nilai < 65 and nilai >= 40:
    print ('nilai C')
elif nilai < 40 and nilai >= 20:
    print ('nilai D')
elif nilai < 0 and nilai >= 20:
    print ('nilai E')
else:
    print ('kesalahan input')

nilai A

invalid syntax ni kesalahan tulisan hmmm
next coba pakai inputer

In [62]:
nilai = input('masukan angka :')
#inputanya adalah string makanya harus di rubah jadi tipe float
nilai = float(nilai)

if nilai > 100:
    print ('kesalahan input')
elif nilai <= 100 and nilai >=80:
    print ('nilai A')
elif nilai < 80 and nilai >= 65:
    print ('nilai B')
elif nilai < 65 and nilai >= 40:
    print ('nilai C')
elif nilai < 40 and nilai >= 20:
    print ('nilai D')
elif nilai < 0 and nilai >= 20:
    print ('nilai E')
else:
    print ('kesalahan input')

nilai C

In [60]:
print (angka)

10

## if memenuhi kondisi di jalankan
kalo while selama memenuhi kondisi tertentu dia akan terus jalan
hati" infinity looping jika pakai while

In [63]:
angka = 0

In [64]:
print(angka)

0

In [66]:
i = 0
while i < 5:
    print (f'i ke : {i}')
    print('halo gan')
    i = i + 1

i ke : 0
halo gan
i ke : 1
halo gan
i ke : 2
halo gan
i ke : 3
halo gan
i ke : 4
halo gan

In [67]:
print (i)

5

kita mengisi list dengan inputer sampai ngetik cukup

In [68]:
pesanan = []
pesan = ''
while pesan != 'cukup':
    pesan = input('masukan pesanan anda:')
    if pesan != 'cukup':
        pesanan.append(pesan)

In [69]:
print (pesanan)

['mie ayam', 'kwetiau', 'bakpau', 'es teh']

mau coba bikin tabel perkalian 7 memulai dari 7 *1 dst

In [70]:
i = 1
while i <= 10:
    print (f'7 x {i} = {7*i}')
    i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

perkalian lagi tapi 7 di awal juga bergerak, kita akan pakai nested while

In [72]:
i = 1
j = 1

while j <= 10:
    while i <= 10:
        print(f'{j} x {i} = {j * i}')
        i = i+1
    j = j + 1
    i = 1
    print("*"*50) # ada bintang sebnyak 50

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

for loop 
membutuhkan tipe data menjemuk
list tufel dicenary cotnoh

In [73]:
tukang_buah = ['pepaya','mangga', ' pisang','jambu']

In [76]:
tukang_buah[2]
#mulai dari no l ya pak

' pisang'

In [78]:
tukang_buah[-1]

'jambu'

In [79]:
i = 0
while i < len (tukang_buah):
    print(f'abang ini jual {tukang_buah[i]}')
    i = i +1
    #ini nambahin index jadi dia muncul

abang ini jual pepaya
abang ini jual mangga
abang ini jual  pisang
abang ini jual jambu

In [80]:
for buah in tukang_buah:
    print(f'abang ini jual {buah}')

    #forlup ini ga musti kasi parameterrr enak kan

abang ini jual pepaya
abang ini jual mangga
abang ini jual  pisang
abang ini jual jambu

In [81]:
for i in [0,1,2,3]:
    print(f'abang ini jual {tukang_buah[i]}')

abang ini jual pepaya
abang ini jual mangga
abang ini jual  pisang
abang ini jual jambu

range adalah sebuah fungsi untuk membuat sebuah list dari angka yang berututan atau barisan aritmatika yang lain


range (a,b,c)
a= nilai awal
b= nilai sebelum akhir
c= intervalnya atau selisihnya

In [85]:
list(range (1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:

list(range (1,10,2))

[1, 3, 5, 7, 9]

In [87]:

list(range (1,10,3))

[1, 4, 7]

In [88]:

list(range (10))
# ini dia akan otomatis print sampe sebelum dia

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:

list(range (len(tukang_buah)))

[0, 1, 2, 3]

In [91]:
for i in range(len(tukang_buah)):
    print(f'abang ini jual {tukang_buah[i]}')

abang ini jual pepaya
abang ini jual mangga
abang ini jual  pisang
abang ini jual jambu

In [92]:
ket = ['stok dikit', 'stoik banyak', ' lagi musim']
for i in range(len(tukang_buah)):
    print(f'abang ini jual {tukang_buah[i]}, ket : {ket[i]}')

abang ini jual pepaya, ket : stok dikit
abang ini jual mangga, ket : stoik banyak
abang ini jual  pisang, ket :  lagi musim

IndexError: list index out of range

In [93]:
for i in range(1, 11):
    print(f' 7 X {i} = {7*i}')

 7 X 1 = 7
 7 X 2 = 14
 7 X 3 = 21
 7 X 4 = 28
 7 X 5 = 35
 7 X 6 = 42
 7 X 7 = 49
 7 X 8 = 56
 7 X 9 = 63
 7 X 10 = 70

In [94]:
for j in range (1, 11):
    for i in range (1,11):
        print(f'{j} x {i} = {j * i}')
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************